@using System.Text.Json
@using System.Text.Encodings.Web

@{
    Layout = null;    
}
@model PresentationViewModel

<!DOCTYPE html>
<html lang="ru">
<head>    
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
    
    <title>@(string.IsNullOrEmpty(Model.Description) ?  Model.Name : (Model.Name + " - " + Model.Description))</title>
</head>

<body>

    <script type="text/javascript">
        var markers = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Boards, 
            new JsonSerializerOptions { Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping }));
    </script>

    <div id="panel-left">
        @if (Model.ClientInfo != null)
        {
            <div id="panel-header">
                <div id="panel-header-left">
                    <a href="@(Model.ClientInfo.Site ?? "https://oohelp.net")" target="_blank"><img style="margin-left: 15px;" src="~/images/@Model.ClientInfo.Logo" alt="" /></a>    
                </div>
                
                <div id="panel-header-right">
                    <div id="presInfo">
                        <h1>@Model.Name</h1>
                        <h2>@Model.Description</h2>                        
                    </div>                    
                </div>            
            </div>
        }
        else
        {
            <div id="panel-header" style="display: flex; align-items: center; justify-content: center;">
                <div style="text-align:center">
                    <h1>@Model.Name</h1>
                    <h2>@Model.Description</h2>                        
                </div>
                
            </div>
        }

        <form id="frmBoards" style="overflow:auto; overflow-x:hidden; height: calc(100vh - 72px)">

            <table id="tabBoardsId" class="tabBoards">
                <thead>
                    <tr>
                        @*<th></th>*@
                        @if (Model.ColumnSupplierCode) { <th>Код</th> }                        
                        @if (Model.ColumnSupplier) { <th>Оператор</th> }
                        @if (Model.ColumnCity) { <th>Город</th> }
                        @if (Model.ColumnTypeSize) { <th>Тип</th> }
                        @if (Model.ColumnAddress) { <th>Адрес</th> }
                        @if (Model.ColumnGrp) { <th>GRP</th> }                        
                        @if (Model.ColumnPrice) { <th>Цена</th> }                        
                    </tr>
                </thead>
                <tbody>                    
                    @foreach(var brd in Model.Boards)
                    {
                        <tr id=@brd.Id class="rowPass" onclick="onRowClick(this)">
                           @* <td width=5%>
                                <input name="ch[]" class="checkbox" id=@brd.CheckBoxId() type="checkbox" value=@brd.SupplierCode>
                            </td>*@
                            @if (Model.ColumnSupplierCode) { <td style="white-space:nowrap">@brd.SupplierCode</td> }                            
                            @if (Model.ColumnSupplier) { <td width=10%>@brd.Supplier</td>}   
                            @if (Model.ColumnCity) { <td>@brd.City</td> }
                            @if (Model.ColumnTypeSize) { <td>@brd.TypeSize</td>}
                            @if (Model.ColumnAddress) { <td>@brd.Address</td> }
                            @if (Model.ColumnGrp) { <td width=5%>@brd.Grp</td> }                        
                            @if (Model.ColumnPrice) { <td width=5%>@brd.Price</td> }           
                        </tr>
                    }
                </tbody>
            </table>
        </form>      
    </div>
    
    <div id="map-canvas"/>

    <script async=async defer=defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnJoPklL83K0yIO0KFlngFOzt0hOLwuVg&callback=initMap" type="text/javascript"></script>

</body>

</html>