@using System.Text.Json
@using System.Text.Encodings.Web

@{
    Layout = null;    
}
@model OohelpWebApps.Presentations.Models.PresentationViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>

<body style="overflow: hidden">
    <script type="text/javascript">
        var markers = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Boards, 
            new JsonSerializerOptions { Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping }));
    </script>

    <div id="panel-left" style="width: 520px; height: 100%; float: left; overflow: hidden; opacity: 1">
        <div id="panel-header" style="width:100%; height:72px;">
            <div id="headerLogo" style="width:100px; float:left;">
                <a href="http://www.octagon.com.ua/"><img id="imgHeaderLogo" src="~/images/Logo_w150.png"; style="margin-left:10px; margin-top:10px;" /></a>
            </div>
            <div id="presInfo" style="float: right; text-align:center; margin-top:15px; margin-right:15px">
                <span class="pres-Name">@Model.Name</span><br>
                <span class="pres-Descript">@Model.Description</span>
            </div>
        </div>

        <form id="frmBoards" style="overflow: auto; height: calc(100vh - 72px)">
            <br>
            <table id="tabBoardsId" class="tabBoards">
                <thead>
                    <tr>
                        <th></th>
                        <th>Код</th>
                        <th>Город</th>
                        <th>Тип</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                <tbody>                    
                    @foreach(var brd in Model.Boards)
                    {
                        <tr id=@brd.Id class="rowPass" onclick="onRowClick(this)">
                            <td width=5%>
                                <input name="ch[]" class="checkbox" id=@brd.CheckBoxId() type="checkbox" value=@brd.SupplierCode>
                            </td>
                            <td width=10%>@brd.SupplierCode</td>
                            <td width=15%>@brd.City</td>
                            <td width=15%>@brd.TypeSize</td>
                            <td>@brd.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>      
    </div>
        <div id="map-canvas" style="position:relative; overflow: hidden; background-color: seagreen">
    </div>

    <script async=async defer=defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnJoPklL83K0yIO0KFlngFOzt0hOLwuVg&callback=initMap" type="text/javascript"></script>

</body>

</html>